<% include ../partials/header %>

<div class="container">
    <div class="row">
       <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-fluid" alt="Sample photo" src="<%= collection.image %>">
                <div class="caption">
                    <h4 class="float-right">$19.99</h4>
                    <h4 class="pull-left"><%= collection.name %></h4>
                    <p><%= collection.description %></p>
                </div>
            </div>

            <div class="well">

            <div class="text-right">
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample">
                        Customer Review
                    </a>
                </p>
            </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="row">
                            <div style="width:30%; margin: 0px auto;">
                                <form action="/collections/<%= collection._id %>/comments" method="POST">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <P><% collection.comments.forEach(function(comment){%></P>
                <div class="row">
                    <div class="col-md-12">
                        <strong class="username"> <%= comment.author.username %> </strong>
                        <span class="float-right">10 days ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                    </div>
                </div>
                <p><%})%></p>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
